<div class="parent" >
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <h1>{{book.author}}</h1>
            <p>{{book.birthday}}</p>
            <p>{{book.birthPlace}}</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <button class="btn btn-warning">Add New Book</button>
            <br><br>
            <button (click)="titleOrder()">Sort By Title</button>
            <br>
            <button>Sort By Published Date</button>
        </div>
    </div>
    <div class="bottom">
        <div class="b1" *ngFor="let b of book.books; let i=index">
            <select>
                <option>Edit</option>
                <option>Delete</option>
                <option selected>Action</option>
            </select>
            <img src="{{book.books[i].imageUrl}}" width="100px" height="100px">
            <h3>{{book.books[i].title}}</h3>
            <h3>{{book.books[i].PublishDate}}</h3>
            <a href="{{book.books[i].purchaseLink}}" id="button1" class="btn btn-primary">BUY</a>
        </div>
    </div>

</div>