.parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    width: 500px;
    height: 400px;
    padding-left: 100px;
    background-color: rgb(231, 163, 37);
    border-radius: 20px;
}
h3{
    font-size: x-large;
}
input{
    width: 300px;
    height: 40px;
    font-size: x-large;
    border-radius: 10px;
    background-color: rgb(240, 237, 237);
    border: 0;
    outline: 0;
    padding-left: 10px;
}
button{
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    font-size: large;
    font-weight: 700;
    color: white;
    background-color: rgb(0, 153, 255);
    text-transform: uppercase;
}