form{
    background-color: rgb(252, 169, 97);
    width: 650px;
    border-radius: 30px;
    margin-left: 250px;
    padding: 50px;
}
label{
    width: 150px;
    margin: 10px;
    font-size: x-large;

}
input{
    height: 40px;
    border-radius: 10px;
    background-color: rgb(209, 207, 207);
    border: 0;
    outline: 0;
    padding: 10px;
    
}
button{
    margin-left: 150px;
    text-transform: uppercase;
    font-weight: 700;
}
